/* find.js 적용 */
/* 내용 감싸는 태그 */
.find-container{
    margin : 3% 25%;
}

/* 성명 학번 입력 창 */
.form-control:focus{
    border-color: rgba(236,20,104,0.25) !important;
    box-shadow: 0 0 0 0.2rem rgba(236, 20, 104, .25) !important;
}

/*결과 확인 제출 버튼 */
#submit-btn{
    color: white;
    background-color: #EC1468;
    padding : 5px 24px;
    height: 35px;
    font-size: 1rem;
    margin-top: 0.5rem;
    border-color: #EC1468;
}

/* 결과 확인 제출 버튼 hover */
#submit-btn:hover{
    border : 1px solid #EC1468;
}

/* 모바일 간격 조정 */
@media(max-width:720px){
    .find-container{
        margin : 2% 12%;
    }
    #title{
        font-size: 1.4rem;
    }
    #wrapper{
        margin-top: 15%;
    }
    .result-container{
        margin: 2% 12% !important;
    }
}

/* Result.js 적용 */
/* 결과 내용 감싸는 태그 */
.result-container{
    margin : 3% 25%;
    font-size: 14px;
}

/* 결과 추가 설명 */
#result-title{
    margin-bottom: 3%;
    color: #EC1468;
    font-size: 16px!important;
}

p#add{
    color: #EC1468;
    margin-bottom: 3%;
}

/* 결과 db */
#result-table{
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 25px;
    table-layout: fixed;
}

#result-thead{
    color: white;
    background-color:  #EC1468;
    line-height: 2.5;
    margin-bottom: 5%;
}

#result-table th:first-child{
    border-radius:20px 0 0 20px;
    border-right: 0.85px solid #ffffff;
}
  
#result-table th:last-child{
    border-radius:0 20px 20px 0;
    border-left: 0.85px solid #ffffff;
}

#result-table th:nth-child(3n+2){
    border-right: 0.85px solid #ffffff;
}

.probation-button{
    background-color : #EC1468;
    color : white;
    border-color :  #EC1468;
}

.probation-button:hover,.probation-button:active{
    background-color : white;
    color: #EC1468;
    border-color: #EC1468;
}

#probation-wrapper{
    text-align: center!important;
}

.ant-btn{
    color: #EC1468!important;
    border-color: #EC1468!important;
}